.todo-footer {
  display: flex;
  justify-content: space-between;
}

.todo-footer p {
  font-weight: 600;
  color: #808080;
}

.todo-footer a {
  font-weight: 600;
  color: #808080;
  text-decoration: none;
}
